--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable consecutiveBlankLines
--enable duplicateImports
--enable emptyBraces

--disable redundantNilInit
--disable unusedArguments
--disable sortedImports
--disable redundantFileprivate

--ifdef no-indent

--self insert

--redundanttype inferred

--semicolons never

--operatorfunc spaced

--decimalgrouping 3,5