--enable anyObjectProtocol
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenScopes
--enable braces
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable enumNamespaces
--enable extensionAccessControl
--enable fileHeader
--enable hoistPatternLet
--enable indent
--enable initCoderUnavailable
--enable leadingDelimiters
--enable linebreakAtEndOfFile
--enable linebreaks
--enable modifierOrder
--enable numberFormatting
--enable preferKeyPath
--enable redundantBackticks
--enable redundantBreak
--enable redundantExtensionACL
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantObjc
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantSelf
--enable redundantType
--enable redundantVoidReturnType
--enable semicolons
--enable sortedImports
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable strongOutlets
--enable strongifiedSelf
--enable todos
--enable trailingClosures
--enable trailingCommas
--enable trailingSpace
--enable typeSugar
--enable unusedArguments
--enable void
--enable wrap
--enable wrapArguments
--enable wrapAttributes
--enable wrapMultilineStatementBraces
--enable yodaConditions

--disable redundantReturn
--disable andOperator
--disable redundantNilInit
--disable redundantFileprivate
--disable isEmpty
--disable markTypes
--disable organizeDeclarations
--disable sortedSwitchCases
--disable wrapEnumCases
--disable wrapSwitchCases

--allman           false
--assetliterals    actual-width
--binarygrouping   4,8
--classthreshold   0
--closingparen     balanced
--commas           inline
--decimalgrouping  3,5
--elseposition     same-line
--emptybraces      linebreak
--enumthreshold    0
--exponentcase     lowercase
--exponentgrouping disabled
--extensionacl     on-declarations
--extensionlength  0
--fractiongrouping disabled
--funcattributes   preserve
--guardelse        auto
--header           ignore
--hexgrouping      4,8
--hexliteralcase   lowercase
--ifdef            indent
--importgrouping   alpha
--indent           4
--indentcase       false
--linebreaks       lf
--maxwidth         none
--modifierorder    final,override
--octalgrouping    4,8
--operatorfunc     spaced
--organizetypes    class,actor,struct,enum
--patternlet       inline
--ranges           no-space
--redundanttype    inferred
--self             insert"
--semicolons       never
--shortoptionals   always
--smarttabs        disabled
--stripunusedargs  closure-only
--structthreshold  0
--trimwhitespace   always
--typeattributes   preserve
--varattributes    preserve
--voidtype         void
--wraparguments    preserve
--wrapcollections  preserve
--wrapconditions   preserve
--wrapparameters   preserve
--wrapreturntype   preserve
--xcodeindentation disabled
--yodaswap         literals-only