--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable consecutiveBlankLines
--enable duplicateImports
--enable emptyBraces

--disable redundantNilInit
--disable unusedArguments
--disable sortedImports

--self insert

--redundanttype inferred

--semicolons never

--operatorfunc spaced

--decimalgrouping 3,4