version: "3"

services:

  runtime-setup:
    image: swift-nio:16.04-4.2
    build:
      args:
        ubuntu_version : "16.04"
        swift_version : "4.2"
        swift_flavour : "CONVERGENCE"

  unit-tests:
    image: swift-nio:16.04-4.2

  integration-tests:
    image: swift-nio:16.04-4.2

  test:
    image: swift-nio:16.04-4.2

  echo:
    image: swift-nio:16.04-4.2

  http:
    image: swift-nio:16.04-4.2
