name: Pull Request

on:
    pull_request:
      types: [opened, reopened, synchronize]

jobs:
    soundness:
        name: Soundness
        uses: ./.github/workflows/pull_request_soundness.yml
        with:
            license_header_check_project_name: "SwiftNIO"

    unit-tests:
        name: Checks
        uses: ./.github/workflows/unit_tests.yml
        with:
            linux_nightly_6_0_arguments_override: "--explicit-target-dependency-import-check error"
            linux_nightly_main_arguments_override: "--explicit-target-dependency-import-check error"

    benchmarks:
        name: Checks
        uses: ./.github/workflows/benchmarks.yml

    cxx-interop:
        name: Checks
        uses: ./.github/workflows/cxx_interop.yml

    integration-tests:
        name: Checks
        uses: ./.github/workflows/pull_request_swift_matrix.yml
        with:
          name: "Integration tests"
          matrix_linux_command: "apt-get update -y -q && apt-get install -y -q lsof dnsutils netcat-openbsd net-tools curl jq && ./scripts/integration_tests.sh"
