name: Swift 6 language mode

permissions:
  contents: read

on:
  workflow_call:

# We are cancelling previously triggered workflow runs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-swift-6-language-mode
  cancel-in-progress: true

jobs:
  swift-6-language-mode:
    name: Swift 6 language mode
    runs-on: ubuntu-latest
    container:
      image: swift:6.0-jammy
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          persist-credentials: false
          submodules: true
      - name: Set the language mode
        run: swift package tools-version --set 6.0
      - name: Build with Swift 6 language mode
        run: swift build -Xswiftc -warnings-as-errors
